# Ignore target directories (Maven build output)
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Allow Maven wrapper JAR to be tracked
!.mvn/wrapper/maven-wrapper.jar

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore database storage (but allow init.sql file)
mysql/
!docker/mysql/init.sql

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
